form .row>div.left{
    padding-right: 0;
}
form .row>div.left>input{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-color: black;
}
form .row>div.right>input{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px;
}
form .row>div.right{
    padding-left: 0;
}
